<%= form_for(@micropost, remote: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Ruminative thoughts here...", :id => "micropost_content" %>
  </div>
  <div id="counter" class="counter">140</div>
  <%= f.submit "Post", class: "btn btn-success" %>
  <span class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', :class => "btn" %>
  </span>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
      $("#micropost_content").keyup(function() {
       var counter = $("#counter");
        var charsRemaining = 140 - $(this).val().length;
        counter.text(charsRemaining);
        counter.css('color', (charsRemaining < 0) ? 'red' : 'green');
     });
   });
</script>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>